@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600&display=swap');


body {
  /* background-color: #c98686; */
  background-image: url('./grading.png');
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.input{
  background-color: #f9513bc0;
  font-size: x-large;
  font-family:"Lobster", serif;
}

.container {
  padding-top: 3em;
  margin-top: 4em;
  width: 20em;
  height: 15em;
  font-size: 2em;
  color:white;
  text-align: center;
  text-shadow: 0 0 10px red;
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 300px;
}

.btnRegister {
  margin-right: 5em;
}

.btnRegister,
.btnLogin {
  background-color: #f9513bc0;
  margin-top: 4em;
  font-family: "Oswald", sans-serif;
  font-size: large;
  width: 120px;
  height: 60px;
  border-radius: 30px;
}

.btnRegister:hover,
.btnLogin:hover,
.btnRegister2:hover,
#btnBackHome:hover,
#btnGrade:hover {
  background-color: #f2b880;
  transition: 0.5s ease-in-out;
}

.input,
#userType {
  background-color: #f9513bc0;
  font-size: x-large;
font-family: 'Lobster', sans-serif;
  width: 200px;
  height: 40px;
  padding: 5px;

  border-radius: 20px;
  margin-bottom: 1em;
}

.toast {
  font-size: 1em;
}

#btnBackHome {
  width: 100px;
  height: 40px;
  background-color: #f9513b;
  font-family: "Oswald", sans-serif;
  font-size: large;
  /* padding: 5px; */
  border-radius: 10px;
  border:3px black solid;
  margin-top: 2em;
  margin-bottom: -2em;
  margin-left: 2em;
  position: absolute;
  top: 0;
  left: 0q;
}

.btnRegister2 {
  background-color: #f9513bc0;
  margin-top: 2em;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  width: 150px;
  height: 80px;
  border-radius: 10px;
}

/*****************************STUDENT PAGE CSS***********************************/

.btnStudentPage {

  cursor: pointer;
  background: #f9513bc0;
  font-size:xx-large;
  font-family: "Lobster", sans-serif;
  border: 1px solid black;
  outline: none;
  transition: 1s ease-in-out;
  
  padding: 5px;
  border-radius: 10px;
  margin-top: 3em;
}

.btnStudentPage:hover,
.btnTitle:hover,
#btnAddNewFile:hover,
#btnGrade2:hover {
  transition: 0.5s ease-in-out;
  background: #f2b880;
}

.containerStudentPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*****************************MY PROJECTS CSS**********************************/

.container-project {
 
  margin-top: 2em;
  width: 10em;
  height: auto;
  font-size: 2em;
  text-align: center;
  background-color: #f9513bc0;
  border-radius: 30px;
  font-family: 'Lobster' , sans-serif;
}

.btnTitle {
  width: 90%;

  cursor: pointer;
  background: transparent;
  border-radius: none;
  outline: none;
  transition: 1s ease-in-out;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  margin-top: 1em;
  font-weight: bold;
  font-size: 22px;
}

.projectContent {
  font-size: x-large;
}

/************************ADD PROJECT CSS*****************************/

.container-addProject {
  margin-top: -2em;
  font-size: 16px;
}

.btnAdd {
  background-color: #f9513bc0;
  margin-top: 2em;
  font-family: "Oswald", sans-serif;
  font-size: large;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  font-weight: bold;
}

/*************************PROJECT FILES******************************/

#container-fisiere {
  padding-top: 3em;
  margin-top: 3em;
  width: 20em;
  height: auto;
  font-size: 2em;
  text-align: center;
  background-color: #f9513bc0;
  border-radius: 30px;
  margin-bottom: 3em;
}

.fileList {
  background-color: #f9513bc0;
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
}

#btnAddNewFile {
  background: #f9513bc0;
  font-size: large;
  font-family: "Lobster", sans-serif;
  margin-top: 2em;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
}

.fileContent {
  height: 30px;
  margin-top: -2em;
  width: 200px;

  border-radius: 3px;
  margin-bottom: 1em;
}

#fileContent {
  width: 80%;
  height: 40%;
}

/*********************************ADAUGA O NOTA******************************/

.input-grade {
  height: 40px;
  background-color: #f9513bc0;

  font-size: 20px;
  font-weight: bold;
  font-family: "Lobster", sans-serif;
  margin-right: 0.2em;
}

#btnGrade,
#btnGrade2 {
  border-radius: 10px;
margin:10px;
  background-color: #f9513bc0;

}

#grade,
#gradeUpdated {
  margin-left: 0.5em;
  font-size: 14px;
}

.page-wrapper {
  width: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*************************SELECTED FILE******************************/

.container-file {
  background-color: #f9513bc0;
font-family: 'Lobster',sans-serif;
  width: 70em;
  height: auto;
  margin-top: 2em;
  border-radius: 30px;
  margin-top: 10em;
  margin-left: -30em;
  /* text-align: center; */
}

#title-file {
  text-align: center;
}

#content {
  margin-left: 5em;

  padding: 2px;
  resize: both;
  word-wrap: break-word;
  font-size: 15px;
  white-space: pre-wrap;
}

/*************************PROFFESOR PAGE******************************/

.proffesor-page {
  margin-top: 5em;
  width: 10em;
  height: 5em;
  font-size: 2em;
  text-align: center;
  background-color: white;
  border-radius: 30px;
}

.container-students {
  padding-top: 3em;
  margin-top: 3em;
  width: 20em;
  height: auto;
  font-size: 15px;
  text-align: center;
  background-color: #f9513bc0;

  border-radius: 30px;
  margin-bottom: 3em;
}

.student {
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
}

.container-student {
  margin-top: 2em;
  width: 10em;
  height: auto;
  font-size: 2em;
  text-align: center;
  background-color: #f9513bc0;
font-family: 'Lobster',sans-serif;

  border-radius: 30px;
}

.containerFinal {
  height: auto;
  background-color: white;

  width: 70em;

  margin-top: 2em;

  margin-top: 10em;
 
}
